version: "3.9"
services:
  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"

  minio:
    image: minio/minio:latest
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: server /data
    ports:
      - "9000:9000"
